In [582]:
import warnings
warnings.filterwarnings('ignore')

In [583]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [584]:
c=pd.read_csv('customer_data.csv')
c.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [585]:
churn=pd.read_csv('churn_data.csv')

In [586]:
churn.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [587]:
i=pd.read_csv('internet_data.csv')
i.head()

,customerID,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,No,Fiber optic,No,No,No,No,No,No

In [588]:
telecom=pd.read_csv('Telecom Churn Data Dictionary.csv',encoding='unicode_escape')
telecom

,S.No.,Variable Name,Meaning
0,1,CustomerID,The unique ID of each customer
1,2,Gender,The gender of a person
2,3,SeniorCitizen,Whether a customer can be classified as a seni...
3,4,Partner,If a customer is married/ in a live-in relatio...
4,5,Dependents,If a customer has dependents (children/ retire...
5,6,Tenure,The time for which a customer has been using t...
6,7,PhoneService,Whether a customer has a landline phone servic...
7,8,MultipleLines,Whether a customer has multiple lines of inter...
8,9,InternetService,The type of internet services chosen by the cu...
9,10,OnlineSecurity,Specifies if a customer has online security.
10,11,OnlineBackup,Specifies if a customer has online backup.
11,12,DeviceProtection,Specifies if a customer has opted for device p...
12,13,TechSupport,Whether a customer has opted for tech support ...
13,14,StreamingTV,Whether a customer has an option of TV streaming.
14,15,StreamingMovies,Whether a customer has an option of Movie stre...
15,16,Contract,The type of contract a customer has chosen.
16,17,PaperlessBilling,Whether a customer has opted for paperless bil...
17,18,PaymentMethod,Specifies the method by which bills are paid.
18,19,MonthlyCharges,Specifies the money paid by a customer each mo...
19,20,TotalCharges,The total money paid by the customer to the co...
20,21,Churn,This is the target variable which specifies if...

In [589]:
f=pd.merge(c,churn,how='inner',on='customerID')

In [590]:
df=pd.merge(f,i,how='inner',on='customerID')

In [591]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,...,TotalCharges,Churn,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,Female,0,Yes,No,1,No,Month-to-month,Yes,Electronic check,...,29.85,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Male,0,No,No,34,Yes,One year,No,Mailed check,...,1889.5,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Male,0,No,No,2,Yes,Month-to-month,Yes,Mailed check,...,108.15,Yes,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,Male,0,No,No,45,No,One year,No,Bank transfer (automatic),...,1840.75,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Female,0,No,No,2,Yes,Month-to-month,Yes,Electronic check,...,151.65,Yes,No,Fiber optic,No,No,No,No,No,No

In [592]:
df.shape

(7043, 21)

In [593]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
dtype: int64

In [594]:
df.isnull().sum().sum()

0

In [595]:
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [596]:
from sklearn.preprocessing import LabelEncoder

In [597]:
le=LabelEncoder()

In [598]:
df['gender']=le.fit_transform(df['gender'])

In [599]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,...,TotalCharges,Churn,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,0,0,Yes,No,1,No,Month-to-month,Yes,Electronic check,...,29.85,No,No phone service,DSL,No,Yes,No,No,No,No

In [600]:
df['Partner'].value_counts()

No     3641
Yes    3402
Name: Partner, dtype: int64

In [601]:
df['Partner']=le.fit_transform(df['Partner'])

In [602]:
df['Dependents']=le.fit_transform(df['Dependents'])

In [603]:
df['PhoneService'].value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [604]:
df['PhoneService']=le.fit_transform(df['PhoneService'])

In [605]:
df['Contract'].value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

In [606]:
df1=pd.get_dummies(df['Contract'],drop_first=True)

In [607]:
df=pd.concat([df,df1],axis=1)

In [608]:
df.drop('Contract',axis=1,inplace=True)

In [609]:
df['PaperlessBilling'].value_counts()

Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

In [610]:
df['PaperlessBilling']=le.fit_transform(df['PaperlessBilling'])

In [611]:
df2=pd.get_dummies(df['PaymentMethod'],drop_first=True)

In [612]:
df=pd.concat([df,df2],axis=1)

In [613]:
df.drop('PaymentMethod',axis=1,inplace=True)

In [614]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'Churn', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'One year', 'Two year',
       'Credit card (automatic)', 'Electronic check', 'Mailed check'],
      dtype='object')

In [615]:
df['TotalCharges'].value_counts()

20.2       11
           11
19.75       9
19.9        8
20.05       8
19.65       8
45.3        7
19.55       7
19.45       6
20.25       6
20.15       6
20.3        5
20.45       5
74.7        4
69.6        4
20.4        4
49.9        4
19.2        4
69.95       4
19.5        4
44.4        4
19.85       4
75.3        4
69.9        4
20.35       4
19.95       4
50.15       4
69.65       4
20.5        4
19.3        4
           ..
7843.55     1
80.2        1
2157.5      1
178.5       1
8100.25     1
2168.15     1
1405.3      1
7713.55     1
2406.1      1
510.8       1
7623.2      1
5154.6      1
6185.15     1
2409.9      1
4116.15     1
2000.2      1
5914.4      1
6218.45     1
7932.5      1
108.15      1
2438.6      1
856.65      1
734.6       1
4179.1      1
470         1
2970.8      1
7467.5      1
148.05      1
100.4       1
1192.3      1
Name: TotalCharges, Length: 6531, dtype: int64

In [616]:
df['Churn']=le.fit_transform(df['Churn'])

In [617]:
df['MultipleLines'].value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

In [618]:
df4=pd.get_dummies(df['MultipleLines'],drop_first=True)

In [619]:
df=pd.concat([df,df4],axis=1)

In [620]:
df.drop('MultipleLines',axis=1,inplace=True)

In [621]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'Churn', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'One year', 'Two year', 'Credit card (automatic)',
       'Electronic check', 'Mailed check', 'No phone service', 'Yes'],
      dtype='object')

In [622]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,...,TechSupport,StreamingTV,StreamingMovies,One year,Two year,Credit card (automatic),Electronic check,Mailed check,No phone service,Yes
0,7590-VHVEG,0,0,1,0,1,0,1,29.85,29.85,...,No,No,No,0,0,0,1,0,1,0

In [623]:
df['InternetService'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [624]:
itr=pd.get_dummies(df['InternetService'],drop_first=True)

In [625]:
df=pd.concat([df,itr],axis=1)

In [626]:
df.drop('InternetService',axis=1,inplace=True)

In [627]:
df['OnlineSecurity'].value_counts()

No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

In [628]:
#o=pd.get_dummies(df['OnlineSecurity'],drop_first=True)

In [629]:
#df=pd.concat([df,o],axis=1)

In [630]:
#df.drop('OnlineSecurity',axis=1,inplace=True)

In [631]:
df['OnlineSecurity']=le.fit_transform(df['OnlineSecurity'])

In [632]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'Churn', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'One year', 'Two year', 'Credit card (automatic)', 'Electronic check',
       'Mailed check', 'No phone service', 'Yes', 'Fiber optic', 'No'],
      dtype='object')

In [633]:
df['OnlineBackup'].value_counts()

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

In [634]:
df['OnlineBackup']=le.fit_transform(df['OnlineBackup'])

In [635]:
df['TechSupport'].value_counts()

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

In [636]:
df['TechSupport']=le.fit_transform(df['TechSupport'])

In [637]:
df['StreamingTV'].value_counts()

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

In [638]:
df['StreamingTV']=le.fit_transform(df['StreamingTV'])

In [639]:
df['StreamingMovies'].value_counts()

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

In [640]:
#S=pd.get_dummies(df['StreamingMovies'],drop_first=True)

In [641]:
#df=pd.concat([df,S],axis=1)

In [643]:
#df.drop('StreamingMovies',axis=1,inplace=True)

In [644]:
df['StreamingMovies']=le.fit_transform(df['StreamingMovies'])

In [645]:
df['DeviceProtection'].value_counts()

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

In [646]:
#d=pd.get_dummies(df['DeviceProtection'],drop_first=True)

In [647]:
#df=pd.concat([df,d],axis=1)

In [648]:
#df.drop('DeviceProtection',axis=1,inplace=True)

In [649]:
df['DeviceProtection']=le.fit_transform(df['DeviceProtection'])

In [650]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,...,StreamingMovies,One year,Two year,Credit card (automatic),Electronic check,Mailed check,No phone service,Yes,Fiber optic,No
0,7590-VHVEG,0,0,1,0,1,0,1,29.85,29.85,...,0,0,0,0,1,0,1,0,0,0

In [651]:
df.drop('customerID',axis=1,inplace=True)

In [652]:
df.head(1)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,StreamingMovies,One year,Two year,Credit card (automatic),Electronic check,Mailed check,No phone service,Yes,Fiber optic,No
0,0,0,1,0,1,0,1,29.85,29.85,0,...,0,0,0,0,1,0,1,0,0,0

In [653]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 25 columns):
gender                     7043 non-null int32
SeniorCitizen              7043 non-null int64
Partner                    7043 non-null int32
Dependents                 7043 non-null int32
tenure                     7043 non-null int64
PhoneService               7043 non-null int32
PaperlessBilling           7043 non-null int32
MonthlyCharges             7043 non-null float64
TotalCharges               7043 non-null object
Churn                      7043 non-null int32
OnlineSecurity             7043 non-null int32
OnlineBackup               7043 non-null int32
DeviceProtection           7043 non-null int32
TechSupport                7043 non-null int32
StreamingTV                7043 non-null int32
StreamingMovies            7043 non-null int32
One year                   7043 non-null uint8
Two year                   7043 non-null uint8
Credit card (automatic)    7043 non-null uint8
Electronic check           7043 non-null uint8
Mailed check               7043 non-null uint8
No phone service           7043 non-null uint8
Yes                        7043 non-null uint8
Fiber optic                7043 non-null uint8
No                         7043 non-null uint8
dtypes: float64(1), int32(12), int64(2), object(1), uint8(9)
memory usage: 667.2+ KB

In [654]:
df_obj=df.loc[:,['TotalCharges']]

In [655]:
df_obj['TotalCharges'].value_counts()

20.2       11
           11
19.75       9
19.9        8
20.05       8
19.65       8
45.3        7
19.55       7
19.45       6
20.25       6
20.15       6
20.3        5
20.45       5
74.7        4
69.6        4
20.4        4
49.9        4
19.2        4
69.95       4
19.5        4
44.4        4
19.85       4
75.3        4
69.9        4
20.35       4
19.95       4
50.15       4
69.65       4
20.5        4
19.3        4
           ..
7843.55     1
80.2        1
2157.5      1
178.5       1
8100.25     1
2168.15     1
1405.3      1
7713.55     1
2406.1      1
510.8       1
7623.2      1
5154.6      1
6185.15     1
2409.9      1
4116.15     1
2000.2      1
5914.4      1
6218.45     1
7932.5      1
108.15      1
2438.6      1
856.65      1
734.6       1
4179.1      1
470         1
2970.8      1
7467.5      1
148.05      1
100.4       1
1192.3      1
Name: TotalCharges, Length: 6531, dtype: int64

In [656]:
df['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')

In [657]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 25 columns):
gender                     7043 non-null int32
SeniorCitizen              7043 non-null int64
Partner                    7043 non-null int32
Dependents                 7043 non-null int32
tenure                     7043 non-null int64
PhoneService               7043 non-null int32
PaperlessBilling           7043 non-null int32
MonthlyCharges             7043 non-null float64
TotalCharges               7032 non-null float64
Churn                      7043 non-null int32
OnlineSecurity             7043 non-null int32
OnlineBackup               7043 non-null int32
DeviceProtection           7043 non-null int32
TechSupport                7043 non-null int32
StreamingTV                7043 non-null int32
StreamingMovies            7043 non-null int32
One year                   7043 non-null uint8
Two year                   7043 non-null uint8
Credit card (automatic)    7043 non-null uint8
Electronic check           7043 non-null uint8
Mailed check               7043 non-null uint8
No phone service           7043 non-null uint8
Yes                        7043 non-null uint8
Fiber optic                7043 non-null uint8
No                         7043 non-null uint8
dtypes: float64(2), int32(12), int64(2), uint8(9)
memory usage: 667.2 KB

In [658]:
df['TotalCharges'].mean()

2283.3004408418697

In [659]:
df['TotalCharges'].fillna(value=df['TotalCharges'].mean(),inplace=True,axis=0)

In [660]:
df['TotalCharges'].isnull().sum()

0

In [661]:
df.skew()

gender                    -0.019031
SeniorCitizen              1.833633
Partner                    0.067922
Dependents                 0.875199
tenure                     0.239540
PhoneService              -2.727153
PaperlessBilling          -0.375396
MonthlyCharges            -0.220524
TotalCharges               0.962394
Churn                      1.063031
OnlineSecurity             0.416985
OnlineBackup               0.182930
DeviceProtection           0.186847
TechSupport                0.402365
StreamingTV                0.028486
StreamingMovies            0.014657
One year                   1.430637
Two year                   1.213561
Credit card (automatic)    1.379837
Electronic check           0.695541
Mailed check               1.290981
No phone service           2.727153
Yes                        0.316610
Fiber optic                0.243494
No                         1.375769
dtype: float64

In [662]:
X=df.drop('Churn',axis=1)

In [664]:
y=df.Churn

In [665]:
#Splitting

In [666]:
from sklearn.model_selection import train_test_split

In [667]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

### Scaling

In [668]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [670]:
X_train[['tenure','TotalCharges','MonthlyCharges']]=sc.fit_transform(X_train[['tenure','TotalCharges','MonthlyCharges']])

In [671]:
X_test[['tenure','TotalCharges','MonthlyCharges']]=sc.transform(X_test[['tenure','TotalCharges','MonthlyCharges']])

### LGR

In [672]:
from sklearn.linear_model import LogisticRegression

In [673]:
lgr=LogisticRegression()

In [675]:
l=lgr.fit(X_train,y_train)

In [676]:
y_pred_train=l.predict(X_train)

In [677]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [678]:
accuracy_score(y_train,y_pred_train)

0.8060851926977688

In [679]:
confusion_matrix(y_train,y_pred_train)

array([[3255,  373],
       [ 583,  719]], dtype=int64)

In [681]:
print('\n',classification_report(y_train,y_pred_train))

               precision    recall  f1-score   support

           0       0.85      0.90      0.87      3628
           1       0.66      0.55      0.60      1302

    accuracy                           0.81      4930
   macro avg       0.75      0.72      0.74      4930
weighted avg       0.80      0.81      0.80      4930

### Test Data

In [684]:
y_test_pred=l.predict(X_test)

In [685]:
accuracy_score(y_test,y_test_pred)

0.8031235210601041

In [686]:
confusion_matrix(y_test,y_test_pred)

array([[1395,  151],
       [ 265,  302]], dtype=int64)

In [689]:
print('\n',classification_report(y_test,y_test_pred))

               precision    recall  f1-score   support

           0       0.84      0.90      0.87      1546
           1       0.67      0.53      0.59       567

    accuracy                           0.80      2113
   macro avg       0.75      0.72      0.73      2113
weighted avg       0.79      0.80      0.80      2113